body {
    background-color: lightslategray;
    color: black;
}

.home {
    text-align: center;
}

.taskBg {
    background-color: white;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
}

.taskNumber {

}

.taskBg .done {
    text-decoration: line-through;
    opacity: .3;
}

.iconsWarp {
    position: absolute ;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: auto;
}

.taskBg .iconsWarp span:hover {
    color: red;
}